<!-- Page Header -->
<header class="masthead" style="background-image: url('/assets/site/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>O Seu Tech Blog!</h1>
            <span class="subheading">Acompanhe conosco as melhores notícias do mundo tecnológico</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div *ngIf="pagination">
          <div *ngFor="let post of posts | paginate: {
            itemsPerPage: pagination.itemsPerPage,
            currentPage: pagination.currentPage,
            totalItems: pagination.totalItems }">
            <div class="post-preview">
              <a routerLink="/post/{{post.postId}}" >
                <h2 class="post-title">
                  {{post.title}}
                </h2>
              </a>
              <p class="post-meta">Criado por
                <a href="#">{{post.createdBy}}</a>
                {{post.createdAt | date}}</p>
            </div>
            <hr>
          </div>
        </div>
        <!-- Pager -->
        <div class="clearfix d-flex justify-content-end my-4">
          <pagination-controls
                      (pageChange)="onPageChange($event)"
                      [directionLinks]="true"
                      [responsive]="true"
                      previousLabel="Anterior"
                      nextLabel="Próximo">
            </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <hr>
