 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Tech Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="(currentUser$ | async) === null">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registar-se']">Registar-se</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#login"><i class="fa fa-user-lock mr-2"></i>Entrar</a>
            </li>
          </ng-container>

          <ng-container *ngIf="(currentUser$ | async) as user">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user-lock mr-2"></i>{{user.firstName}} {{user.lastName}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout()">Sair</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Blog 2022- By: <a href="https://www.linkedin/in/baptistaneves">Baptista Neves</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!--Modal Login-->
  <div class="modal" id="login">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Login</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <ul *ngIf="errors.length > 0" class="alert alert-danger my-3" style="list-style:none"><li *ngFor="let error of errors">{{error}}</li></ul>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>E-mail</label>
                <input type="email" class="form-control" placeholder="E-mail" formControlName="userName">
                <div *ngIf="f.userName.errors && f.userName.touched" class="help-block text-danger">
                  <p *ngIf="f.userName.errors.required">Informe o e-mail</p>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Senha</label>
                <input type="password" class="form-control" placeholder="Senha" formControlName="password">
                <div *ngIf="f.password.errors && f.password.touched" class="help-block text-danger">
                  <p *ngIf="f.password.errors.required">Informe a senha</p>
                </div>
              </div>
            </div>
            <br>
            <button type="button" id="bntClose" class="btn btn-default mr-2" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>